@page
@model introduccion_RAZOR.Pages.CiclosModel
@{
}
<h3>Ciclo While</h3>

@{
    var cont = 1;
    while (cont < 10)
    {
        <p>@cont</p>
        cont += 1;
    }
}
<br/>
<h3>Ciclo Do-While</h3>

@{
    cont = 1;
    do
    {
        <p>@cont</p>
        cont += 1;
    }
    while (cont < 10);
}
<br/>
<h3>Ciclo For</h3>

@{
    for (var i=0; i<21;i++)
    {
        <p>@i</p>
    }

}
<br />
<h3>Ciclo For-Each</h3>
<ul>
@{
    foreach(var x in HttpContext.Request.Headers)
    {
        <li>@x</li>
    }

}
</ul>