@page
@model introduccion_RAZOR.Pages.HolaMundoModel
@{

}

<!-- escribimos un mensaje utilizando sintaxis 
    de razor
-->

@{
    var mensaje = "Hola mundo desde ASP.net Core";
}

<p>Este es un mensaje de Bienvenida @mensaje</p>
